:root{
    --bg-color: #FFFFFF;
    --text-color: #2D2D2D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu1 img{
    display: none;
}
a{
    text-decoration: none;
}
.navigation{
    width: 1280px;
    height: 80px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
}

.headline h1{
    font-size: 60px;

}
.navigation .logo{
    font-size: 20px;
    margin: 25px;
}
.navigation .menu1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-right: 50px;
}
.navigation ul{
    list-style: none;
}
.navigation{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
@media screen and (max-width:768px) {
    .menu1 img{
        display: inline-block;
    }
    .menu1 li{
        display: none;
    }
}
.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    padding: 100px;
}
header{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:768px) {
    header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 557px;
    height: 317px;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
}


section{
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    background: #FFFFFF;
}
section .skills{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 67.5px;
    width: 1080px;
    height: 407px;
}
.letest-work img{
   width: 150px;
   height: 150px;
}
.letest-work h4{
    text-align: center;
    font-size: 25px;
}
.top ,.button{
    margin: 100px ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;
}

footer{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 100px 70px;
gap: 10px;

width: 1288px;
height: 683px;

background: #FFFFFF;
}

footer .left{
    display: flex;
    flex-direction: column;
}





